<div class="container text-center mt-5">
    <h2 class="m5" >Sobre nós</h2>
    
    <p class="m5 pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti perferendis impedit odio laborum aliquid optio vel possimus earum sit, pariatur ut sequi soluta aspernatur delectus est provident quis quasi odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusamus placeat voluptatem a harum soluta excepturi alias repellat. Earum laborum laudantium numquam corrupti incidunt obcaecati qui et doloremque illo nobis.</p>
    <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti perferendis impedit odio laborum aliquid optio vel possimus earum sit, pariatur ut sequi soluta aspernatur delectus est provident quis quasi odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusamus placeat voluptatem a harum soluta excepturi alias repellat. Earum laborum laudantium numquam corrupti incidunt obcaecati qui et doloremque illo nobis.</p>
</div>

<div class="parallax">

    <main class="container-fluid d-flex justify-content-center row">
        <div class="card border-0 m-2 d-flex justify-content-center" style="width: 18rem">
            <img src="../../assets/img/coxinha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Coxinhas</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="rounded" routerLink="/pedido">Pedir</button>
            </div>
        </div>
        <div class="card border-0 m-2" style="width: 18rem;">
            <img src="../../assets/img/bolinhoQueijo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bolinha de Queijo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="rounded" routerLink="/pedido">Pedir</button>
            </div>
        </div>
        <div class="card border-0 m-2" style="width: 18rem">
            <img src="../../assets/img/kitFesta.jpg" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h5 class="card-title">Kit Festa</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="rounded" routerLink="/pedido">Pedir</button>
            </div>
        </div>
    </main>
</div>

<div class="container text-center mt-3">
    <h2 class="m-3" >Como funciona nosso delivery?</h2>
    
    <p class="m5 pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti perferendis impedit odio laborum aliquid optio vel possimus earum sit, pariatur ut sequi soluta aspernatur delectus est provident quis quasi odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusamus placeat voluptatem a harum soluta excepturi alias repellat. Earum laborum laudantium numquam corrupti incidunt obcaecati qui et doloremque illo nobis.</p>
    <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti perferendis impedit odio laborum aliquid optio vel possimus earum sit, pariatur ut sequi soluta aspernatur delectus est provident quis quasi odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusamus placeat voluptatem a harum soluta excepturi alias repellat. Earum laborum laudantium numquam corrupti incidunt obcaecati qui et doloremque illo nobis.</p>
</div>
