<div class="container-fluid">
    <main class=" row" >
        <div class="col-6 imagem">
            <img src="../../assets/img/coxinha.jpg" alt="">
        </div>
        <div class="col-6 text-center mt-5">
            <h2>Coxinha</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius cupiditate repudiandae odio pariatur ab aliquid iste, qui minima molestias omnis delectus ullam odit id incidunt natus quos. Illo, corporis illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quae ut? Non nobis soluta aliquid consequuntur impedit officiis quibusdam! Ex optio tempora animi porro est maxime, autem distinctio eius et.</p>

            <button class="rounded m-5" routerLink="/pedido">Pedir</button>
        </div>
    </main>

    <main class=" row">
        <div class="col-6 text-center mt-5" >
            <h2>Bolinho de Queijo</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius cupiditate repudiandae odio pariatur ab aliquid iste, qui minima molestias omnis delectus ullam odit id incidunt natus quos. Illo, corporis illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quae ut? Non nobis soluta aliquid consequuntur impedit officiis quibusdam! Ex optio tempora animi porro est maxime, autem distinctio eius et.</p>

            <button class="rounded m-5" routerLink="/pedido">Pedir</button>
        </div>

        <div class="col-6 imagem">
            <img src="../../assets/img/bolinhoQueijo.jpg" alt="">
        </div>
    </main>

    <main class=" row" >
        <div class="col-6 imagem">
            <img src="../../assets/img/kitFesta.jpg" alt="">
        </div>
        <div class="col-6 text-center mt-5">
            <h2>Kit Festa</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius cupiditate repudiandae odio pariatur ab aliquid iste, qui minima molestias omnis delectus ullam odit id incidunt natus quos. Illo, corporis illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quae ut? Non nobis soluta aliquid consequuntur impedit officiis quibusdam! Ex optio tempora animi porro est maxime, autem distinctio eius et.</p>

            <button class="rounded m-5" routerLink="/pedido">Pedir</button>
        </div>
    </main>

</div>
