main{
    height:500px;
}

img{
   height: 40%;
}

/* Parallax */
.parallax { 
    /* The image used */
    background-image: url("https://img.elo7.com.br/product/zoom/C79370/papel-de-parede-4e3-bd-adesivo-lanches.jpg");
  
    /* Set a specific height */  
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* imagem */

/* botão */

button{
    width: 30%;
    border: solid #f85649 2px;
    color: #f85649;
    background-color: transparent;
}

button:hover{
    background-color: #f85649;
    color: white;
}

@media(max-width: 700px){

    main{
        display: flex;
    }
}