<div class="text-center bg">
    <a class="navbar-brand" href="#"> <img class="m-2" src="../assets/img/Logo.png" alt="" style="width: 160px; height: 80px;"> </a>
</div>
    <nav class="navbar navbar-expand-lg navbar-dark bg">
        
        <!-- resposive nav button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- responsive nav button -->
        
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link texto border-right" routerLink="/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link texto border-right" routerLink="/pedido">Pedido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link texto" routerLink="/contato">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
